{% extends 'parent.html' %}
{% block title %}
Register Page
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container p-5 bg-light">
  <form method="post" >
    {% csrf_token %}
    <h2 align="center">REGISTER PAGE</h2>
    {% if user_available %}
    <h3 style="color:red">USERNAME OR Email Already Exists</h3>
    {% endif %}
  <div class="mb-3">
    <label for="exampleInputname1" class="form-label">User Name</label>
    <input type="text" class="form-control" id="exampleInputname1" name="tbusername" aria-describedby="emailHelp">
    <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
     <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="tbemail" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="tbpass" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary form-control">Register</button>
<br>
<br>
    <a class="btn btn-info form-control" href="{% url 'login' %}">Already Register Login</a>
  </form>
    </div>
{% endblock %}